h1 {
  font-family: fantasy, 'Times New Roman', Times, serif;
  font-size: 2em;
  color: purple;
}
p {
  font-family: fantasy, 'Times New Roman', Times, serif;
}
#image {
  border: 7px solid #f7ff8e;
  border-radius: 25px;
}
body {
  background-color: #fc899c;
  text-align: center;
}
ul {
  list-style-type: none;
  padding: 25px;
  font-family: fantasy, 'Times New Roman', Times, serif;
}
a:link {
  text-decoration: none;
  color: magenta;
}
a:visited {
  text-decoration: none;
  color: #08a192;
}
a:hover {
  color: green;
}
/*lessc styles.less styles.css*/
